{{ define "title" }}
Blog | Ivo Nunes
{{ end }}

{{ define "main" }}

<div class="name transition_settings_25 logo_on_header uppercase standalone_logo" id="name3"></div>
<div class="name transition_settings_25 blog_on_header uppercase standalone_logo" id="name3"></div>
    <div id="menu_active_overlay" class="lm_bg accent_color_overlay transition_settings_40"></div>
    <a href="/">
    <div id="left_menu" class="left_menu transition_settings_25 accent_color_background">
        <div class="accent_color_background button button-rotate transition_settings_60">
            <i class="fa fa-home" aria-hidden="true"></i>
        </div>
    </div>
  </a>
    <div id="main_workflow" class="main_workflow color_links transition_settings_25">
    	{{ range .Paginator.Pages }}

	        <div class="color_canvas">
	            <div class="blog section_frame ">
	                <div class="container">
	                    <div class="row">

	                        <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0 transition_animtaion_text_1">
	                            <h2 class="accent_color_text"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	                                <p class="small_text color_min">
	                                    {{ .PublishDate.Format "02 January 2006" }}
	                                </p>
	                            {{ .Summary }}
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	{{ end }}

    <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
              {{ template "_internal/pagination.html" . }}
          </div>
      </div>
    </div>

        <div id="contacts" class="section_frame reveal contacts_reveal">
            <div class="container">
                <div class="footer">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
                            <span class="base_margin_spacer"></span>
                            <span class="base_margin_spacer"></span>

                            <div class="mobile_soc_icons footer_soc_icons_show">
                                <div class="social_icon_footer">
                                    {{ range first 50 (( where .Site.RegularPages "Type" "social" ).ByParam "order") }}
                                          <a href="{{ .Params.link }}" target="blank"><i class="fa fa-{{ .Params.icon }} footer_icon color_mid" aria-hidden="true"></i></a>
                                    {{ end }}
                                      
                                      <span class="base_margin_spacer"></span>
                                  </div>
                            </div>

                            <div class="footer_info_container">
                                <p class="small_text color_min">
                                    © {{ now.Format "2006" }} Ivo Nunes. All rights reserved.
                                </p>
                            </div>
                            <span class="base_margin_spacer"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="desctop_soc_icons footer_soc_icons_show social_no_delay">
            <div class="social_icon_footer">
                  {{ range first 50 (( where .Site.RegularPages "Type" "social" ).ByParam "order") }}
                        <a href="{{ .Params.link }}" class="transition_settings_25 reverse color_mid" target="blank"><i class="fa fa-{{ .Params.icon }} footer_icon color_mid" aria-hidden="true"></i></a>
                  {{ end }}
              </div>
        </div>
    </div>
{{ end }}