{{ define "title" }}
Ivo Nunes | {{ .Title }}
{{ end }}

{{ define "main" }}

    <div class="name transition_settings_25 logo_on_header uppercase" id="name3"></div>
      <div id="menu_active_overlay" class="lm_bg accent_color_overlay transition_settings_40"></div>
      <div id="left_menu" class="left_menu transition_settings_25 accent_color_background">
          <div class="accent_color_background button button-rotate transition_settings_60">
              <span></span>
          </div>

          <div class="menu transition_settings_25">
              <ul>
                  <li class="transition_settings_25"><a class="scrollto button_menu color_on_accent transition_settings_25" href="#about_me">About Me</a></li>
                  <li class="transition_settings_25"><a class="scrollto button_menu color_on_accent transition_settings_25" href="#resume">What I Do</a></li>
                  <li class="transition_settings_25"><a class="scrollto button_menu color_on_accent transition_settings_25" href="#my_projects">Projects</a></li>
                  <li class="transition_settings_25"><a class="scrollto button_menu color_on_accent transition_settings_25" href="#latest_posts">Blog</a></li>
                  <li class="transition_settings_25"><a class="scrollto button_menu color_on_accent transition_settings_25" href="#contacts">Contact</a></li>
              </ul>
          </div>

          <div class="bottom_menu_block transition_settings_25 color_bb">
              <div class="social_icon">
                {{ range first 50 (( where .Site.RegularPages "Type" "social" ).ByParam "order") }}
                 <a class="transition_settings_25" href="{{ .Params.link }}" target="blank"><i class="fa fa-{{ .Params.icon }} color_on_accent" aria-hidden="true"></i></a>
                {{ end }}
              </div>
          </div>
      </div>

      <div id="main_workflow" class="main_workflow color_links transition_settings_25">

          {{ range first 1 ( where .Site.RegularPages "Type" "slide" ) }}
          <div id="first_slide">

              <div class="name transition_settings_25 logo_on_header uppercase" id="name1">
              </div>
              <div class="fsi_helper">
                  <div class="first_slide_img fsi_active" style="background-image: url({{ .Params.image }});" data-start=" transform: translate3d(0px, 0px, 0px);" data-500-end=" transform: translate3d(0px, 2400px, 0px);"></div>
              </div>
              <div class="content_block hero-content">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="text_block">
                                  {{ .Params.title | safeHTML }}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="button_bot transition_settings_60 button-bottom">
                  <span></span>
              </div>
          </div>
          {{ end }}

          <div class="color_canvas">

              <div class="name transition_settings_25 logo_on_body uppercase" id="name2">
              </div>

              <div id="about_me" class="section_frame reveal">
                  <div class="container">
                      <div class="row">

                          <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0 transition_animtaion_text_1">
                              <h2 class="accent_color_text">About me</h2>
                              {{ replace .Content "<p>" "<p class=\"mid\">" | safeHTML }}
                          </div>
                      </div>
                  </div>
              </div>

              <div id="resume">
                  <div class="resume section_frame reveal">
                      <div class="container">
                          <div class="row">

                              <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
                                  <h2 class="accent_color_text ">What I Do</h2>
                                  <span class="base_margin_spacer"></span>
                              </div>
                          </div>
                          <div class="row">
                            {{ $i := 0 }}
                              {{ range first 3 (( where .Site.RegularPages "Type" "feature" ).ByParam "order") }}
                                  <div class="col-md-3 col-xs-12 {{ if eq $i 0 }} col-md-offset-3 col-xs-offset-0 {{ end }}">
                                  <div class="resume_block">
                                      <i class="icon-{{ .Params.icon }} icons accent_color_text"></i>
                                      <h3 class="accent_color_text">{{ .Title }}</h3>
                                      <p class="small_text color_mid">{{ .Params.description }}</p>
                                  </div>
                              </div>
                              {{ $i = add $i 1 }}
                                {{ end }}
                          </div>

                          <div class="row">
                              <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
                                  <div id="progressbar">
                              {{ range first 50 (( where .Site.RegularPages "Type" "skill" ).ByParam "order") }}
                                  <div>
                                          <p class="small_text uppercase letter-spacing">{{ .Title }}</p>
                                      </div>
                                {{ end }}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div id="my_projects" class="section_frame reveal">
              <div class="container">
                  <div class="row">

                      <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
                          <h2 class="accent_color_text">Projects</h2>
                      </div>
                      <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
                          <div class="row">

                              <div class="gallery">
                                {{ range first 50 (( where .Site.RegularPages "Type" "project" ).ByParam "order") }}
                                  <div class="col-md-6 col-xs-6 col-xs-offset-0">
                                      <div class="b_img">
                                          <a href="{{ .Params.link }}" target="_blank" class="project">
                                              <div class="project__card">
                                                  <div class="project_overlay accent_color_overlay">
                                                  </div>
                                                  <div class="img_helper">

                                                      <img class="prj_img" src="{{ .Params.image }}" alt="project-image">
                                                  </div>
                                                  <div class="project_detail accent_border_color">

                                                      <p class="project_title color_on_accent small_text uppercase letter-spacing nomargin">{{ .Params.subtitle | safeHTML }}</p>

                                                      <p class="project_dsc color_on_accent nomargin uppercase"><b>{{ .Title }}</b></p>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                                {{ end }}
                            
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div id="latest_posts" class="section_frame reveal">
              <div class="container">
                  <div class="row">
                      <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
                          <h2 class="accent_color_text">Blog</h2>
                      </div>
                  </div>
                  <div class="row">
                      {{ $i := 0 }}
                      {{ range first 2 ( where .Site.RegularPages "Type" "blog" ).ByDate }}
                          <div class="col-md-4 col-xs-12 col-xs-offset-0 {{ if eq $i 0 }} col-md-offset-3 {{ else }} col-md-offset-1 {{ end }}">
                          <div class="one_post">
                            <a class="color_min reverse transition_settings_25" href="{{ .Permalink }}">
                            <p class="title uppercase">
                                  {{ .Title }}
                              </p>
                              <p class="date small_text uppercase">
                                   {{ .PublishDate.Format "02 January 2006" }}
                              </p>
                              {{ .Summary }}
                            </a>
                          </div>
                              
                      </div>
                      {{ $i = add $i 1 }}
                        {{ end }}
                  </div>
              </div>
          </div>

          <div id="contacts" class="section_frame reveal contacts_reveal">
              <div class="container">
                  <div class="row">

                      <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
                          <h2 class="accent_color_text">Contact</h2>
                      </div>
                  </div>
                  <div class="row">

                      <div class="col-md-4 col-md-offset-3 col-xs-12 col-xs-offset-0">
                          <p class="big color_max">
                              {{ .Params.location | safeHTML }}
                          </p>
                          <span class="base_margin_spacer_x2"></span>
                      </div>

                      <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">

                          <p class="huge">
                              <a class="transition_settings_20 accent_color_text accent_border_color" href="mailto:{{ .Params.email | safeHTML }}">{{ .Params.email | safeHTML }}</a></p>
                          <span class="base_margin_spacer"></span>
                          <span class="base_margin_spacer"></span>
                          <p class="">
                              {{ .Params.contact | safeHTML }}
                          </p>
                          <span class="base_margin_spacer_x2"></span>
                      </div>

                      <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
                          <div class="bottom_form_container">
                              <div class="bottom_form transition_settings_25">
                                  <form action="https://formspree.io/{{ .Params.email | safeHTML }}" method="POST" target="_blank">
                                      <div class="input_helper">
                                          <input class="border_color full_width accent_outline_color float_l inp_1 transition_settings_25" type="text" value="" name="name" placeholder="name">
                                      </div>
                                      <div class="input_helper">
                                          <input class="border_color full_width accent_outline_color inp_2 transition_settings_25" type="text" value="" name="email" placeholder="email">
                                      </div>
                                      <div class="textarea_helper">
                                          <textarea class="border_color full_width accent_outline_color float_l bottom_textarea transition_settings_25" name="message" cols="30" rows="10" placeholder="message"></textarea>
                                      </div>
                                      <button id="submit_form_btn" class="submit_btn color_white accent_color_background uppercase color_on_accent transition_settings_25" type="submit" value="">send email</button>
                                  </form>
                              </div>
                              <div class="three_dot transition_settings_25">
                                  <div class="dots_container">
                                      <span class="accent_color_background"></span>
                                      <span class="accent_color_background"></span>
                                      <span class="accent_color_background"></span>
                                  </div>
                              </div>
                              <div class="send_container transition_settings_25">
                                  <div class="checkmark">
                                      <span class="checkmark_after accent_border_color"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="footer">
                      <div class="row">
                          <div class="col-md-9 col-md-offset-3 col-xs-12 col-xs-offset-0">
                              <span class="base_margin_spacer"></span>
                              <span class="base_margin_spacer"></span>

                              <div class="mobile_soc_icons footer_soc_icons_show">
                                  <div class="social_icon_footer">
                                    {{ range first 50 (( where .Site.RegularPages "Type" "social" ).ByParam "order") }}
                                          <a href="{{ .Params.link }}" target="blank"><i class="fa fa-{{ .Params.icon }} footer_icon color_mid" aria-hidden="true"></i></a>
                                    {{ end }}
                                      
                                      <span class="base_margin_spacer"></span>
                                  </div>
                              </div>

                              <div class="footer_info_container">
                                  <p class="small_text color_min">
                                      © 2019 Ivo Nunes. All rights reserved.
                                  </p>
                              </div>
                              <span class="base_margin_spacer"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div id="footer_soc_container" class="desctop_soc_icons">
              <div class="social_icon_footer">
                  {{ range first 50 (( where .Site.RegularPages "Type" "social" ).ByParam "order") }}
                        <a href="{{ .Params.link }}" class="transition_settings_25 reverse color_mid" target="blank"><i class="fa fa-{{ .Params.icon }} footer_icon color_mid" aria-hidden="true"></i></a>
                  {{ end }}
              </div>
          </div>
      </div>

{{ end }}